
<body>
  <div id="container">
    <header>
      <li><a href="/venues">List of Venues</a></li>
      <li><a href="/users">List of Users</a></li>
      <li><a href="/add_user">Add New User</a></li>
      <li><a href="/add_venue">Add New Venue</a></li>
    </header>
  </div>
</body>


<!-- 

    users
      |
      |
      |   venues --< bands >--< genres
      |     |
      |     ^
       -< reviews 

-->
  