

<h1>
  View Venues
</h1>

<a href="/venues">Venue List</a>


<h2>
  Add new Venue
</h2>

<a href="/add">Add</a>

users -- 3
  |     |
  |     ^
  |   venues --< bands >--< genres
  |     |
  |     ^
   -< reviews
  