<style>

.h_venue {
  width: 33.333px;
  float: left;
  display: inline-block;
  margin: 125px;
}

</style>
<body>
  <div id="container">
    <header>
      <nav>
        <ul>
          <li><a href="/venues">Venue List</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/add_user">Add</a></li>
        </ul>
      </nav>
    </header>
    
    
  </div>
</body>


<!-- users
  |
  |
  |   venues --< bands >--< genres
  |     |
  |     ^
   -< reviews -->
  