<style>

.h_venue {
  width: 33.333px;
  float: left;
  display: inline-block;
  margin: 125px;
}

</style>

<h1 class="h_venue">
  View Venues

  <a href="/venues">Venue List</a>
</h1>

<h1 class="h_venue">
  View Users

  <a href="/users">Users</a>
</h1>

<h1 class="h_venue">
  New User

  <a href="/add_user">Add</a>
</h1>


<!-- users
  |
  |
  |   venues --< bands >--< genres
  |     |
  |     ^
   -< reviews -->
  