Tell you your name.


List the reviews you've written, if any.


links to venue list, and logout (aka: routes back to homepage)

<a href="/">Home</a>
<a href="/user/<%= @user.id %>/venues">Venue List</a>